@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

html,
body {
  background-color: #ebebeb;
  padding: 0;
  margin: 0;
}

header {
  background-color: #223443;
  margin: 0;
  width: 100%;
  position: relative;
}

.logoimg {
  display: inline-block;
  box-sizing: content-box;
}
.logoimg img {
  height: 2em;
}

button {
  border: none;
  color: white;
  border-radius: 10em;
  width: 5em;
  height: 2em;
}
.buttons {
  float: right;
  margin: 4px;
}
.button1 {
  background-color: red;
}
.button2 {
  background-color: turquoise;
}

nav {
  height: 100%;
  width: 100%;
  background-color: #ebebeb;
  margin: 0;
  display: inline-block;
}

nav ul {
  text-align: center;
  padding-inline-start: 0px;
}

nav ul input {
  border: none;
  border-radius: 10em;
  font-size: 15px;
  width: 15em;
  height: 3em;
  text-align: center;
  margin-left: 50px;
}

nav ul li {
  list-style: none;
  display: inline-block;
  font-family: "Staatliches", cursive;
  font-size: 25px;
  color: #292929;
  margin-left: 2em;
}

nav ul li a {
  text-decoration: none;
  color: #292929;
}

nav ul li a:active {
  color: yellow;
}

nav ul li a:visited {
  color: #292929;
}

nav ul li a:hover {
  color: #1a4466;
}

#ctasection {
  height: 100%;
  position: relative;
}

#ctasection .logo {
  width: 500px;
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

#ctasection .image {
  max-width: 100%;
  max-height: 100%;
  position: relative;
}

.gallerybox {
  padding-top: 30px;
  height: auto;
}
.productgallery {
  height: auto;
  padding-left: 10px;
}
.gallerybox a {
  font-family: "Staatliches", cursive;
  font-size: 25px;
  text-decoration: none;
  color: #000;
}

.gallery {
  margin: 5px;
  float: left;
  width: 580px;
}

.gallery:hover {
  color: black;
  opacity: 30%;
}

.gallery img {
  width: 100%;
  height: auto;
}

footer {
  background-color: #223443;
  display: inline-block;
  width: 100%;
  height: auto;
  text-align: center;
}

footer img {
  height: 5em;
  padding-left: 30px;
  padding-top: 10px;
}

footer ul {
  text-align: center;
}

footer ul li {
  list-style: none;
  display: block;
}

footer ul li a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  color: white;
}

footer ul li a:active {
  color: white;
}

footer ul li a:visited {
  color: white;
}
footer ul li a:hover {
  color: yellow;
}

footer p {
  display: block;
  padding-left: 40px;
  font-family: "Roboto", sans-serif;
  font-size: 0.7em;
  color: white;
}
